# Ignore VS Code settings
.vscode/

# Ignore Node.js modules
node_modules/

# Ignore environment variable files
.env

# Ignore logs
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Ignore build files (if using a build process)
dist/
build/

# Ignore system files
.DS_Store
Thumbs.db
